@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">

    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://raw.githubusercontent.com/CJBiohacker/TripScript-Viagens/main/images/fernando-de-noronha.svg"
                    class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-sm-block">
                    <h3>Pernambuco</h3>
                    <p>Arquipélago em Fernando de Noronha</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://raw.githubusercontent.com/CJBiohacker/TripScript-Viagens/main/images/porto-de-galinhas.svg"
                    class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-sm-block">
                    <h3>Pernambuco</h3>
                    <p>Porto de Galinhas em Ipojuca.</p>
                </div>
            </div>
            <div class="carousel-item ">
                <img src="https://raw.githubusercontent.com/CJBiohacker/TripScript-Viagens/main/images/praia-camburi-vitoriaes.svg"
                    class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-sm-block">
                    <h3>Espírito Santo</h3>
                    <p>Praia de Camburi em Vitória.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<div class="container-fluid d-sm-flex p-5 mt-3 intro">
    <img class="w-100"
        src="https://raw.githubusercontent.com/CJBiohacker/TripScript-Viagens/dc41b307bb886fb030b63c64571ca212db18edb6/images/TripScript%20Logo%20Alt.svg"
        alt="TripScript Logo">
    <div class="m-2">
        <section class="text-warning">
            <h1>Seja Bem Vindo à TripScript</h1>
            <p>Uma empresa de serviços com um time de profissionais que têm como missão serem os(as) protagonistas
                na
                realização do seu sonho em viajar. <br>
                Estamos à mais de 5 anos no mercado e estamos comprometido(a)s em
                melhorar nossos serviços a cada ano para proporcionar viagens únicas para nossos clientes.</p>
        </section>
        <section class="text-warning">
            <h1>Por quê viajar com a TripScript ?</h1>
            <p>Permitimos várias formas de pagamentos: Pix, Débito Online, Crédito (até 12x s/ juros) e Boleto
                Bancário.<br>
                O viajante não precisa realizar qualquer pagamento no balcão do estabelecimento. Tudo é
                resolvido online.<br>
                Se pintar algum imprevisto, o viajante não precisa se preocupar: o cancelamento é grátis até a
                véspera do check-in. E em caso de pacote promocional, quando a viagem for agendada. <br>
                Disponibilizamos um canal de dúvidas via Whatsapp, Telegram e/ou Signal no horário de 8h às 22h.
        </section>
    </div>
</div>
