@model Carlos.Models.Cliente

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar Cliente Cadastrado</h1>

<h4>Cliente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id_cliente" />
            <div class="form-group mb-2">
                <label asp-for="Nome" class="control-label">Nome Completo</label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="Data_nasc" class="control-label">Data de Nascimento</label>
                <input asp-for="Data_nasc" class="form-control" />
                <span asp-validation-for="Data_nasc" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="Endereco" class="control-label">Endereço</label>
                <input asp-for="Endereco" class="form-control" />
                <span asp-validation-for="Endereco" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="Celular" class="control-label">Celular</label>
                <input asp-for="Celular" class="form-control" />
                <span asp-validation-for="Celular" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <input type="submit" value="Salvar Modificações" class="btn btn-info text-white" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index"><i class="fas fa-arrow-left">&nbsp;</i>Voltar à Lista</a>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
